<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.haxe.extension.admob_sdk">

    <uses-permission android:name="com.google.android.gms.permissions.AD_ID" />

    <application>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="::SET_ADMOB_APPLICATION_ID::" />
        <meta-data
            android:name="ADMOB_VIDEO_ID"
            android:value="::SET_ADMOB_VIDEO_ID::" />
    </application>

</manifest>